.question-container {
    width: 50%;
    margin: 0 auto;
  }
  
  .grid-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .digit-display {
    text-align: center;
    border: 1px solid black;
    min-height: 2.5rem;
  }
  .number-button {
    background-color: lightgrey;
    padding: 0.25rem;
  }
  
  